<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.mapper.ErpWarehouseStockOutItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.ErpWarehouseStockOutItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="entryId" column="entry_id" jdbcType="BIGINT"/>
            <result property="originalQuantity" column="original_quantity" jdbcType="BIGINT"/>
            <result property="outQuantity" column="out_quantity" jdbcType="BIGINT"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="pickedTime" column="picked_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="warehouseId" column="warehouse_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="outBatch" column="out_batch" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="vendorId" column="vendor_id" jdbcType="BIGINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="sourceOrderItemId" column="source_order_item_id" jdbcType="BIGINT"/>
            <result property="sourceOrderId" column="source_order_id" jdbcType="BIGINT"/>
            <result property="sourceOrderNum" column="source_order_num" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,entry_id,
        original_quantity,out_quantity,complete_time,
        picked_time,status,warehouse_id,
        goods_id,goods_num,goods_name,sku_name,
        goods_image,create_time,create_by,out_batch,
        update_time,update_by,vendor_id,merchant_id,source_order_item_id,source_order_id,source_order_num
    </sql>
</mapper>
