<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.mapper.ErpWarehouseGoodsStockMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.ErpWarehouseGoodsStock">
            <id property="id" column="id" />
            <result property="goodsNo" column="goods_no" />
            <result property="erpGoodsNo" column="erp_goods_no" />
            <result property="erpGoodsSign" column="erp_goods_sign" />
            <result property="goodsId" column="goods_id" />
            <result property="goodsName" column="goods_name" />
            <result property="ownerNo" column="owner_no" />
            <result property="ownerName" column="owner_name" />
            <result property="warehouseNo" column="warehouse_no" />
            <result property="warehouseName" column="warehouse_name" />
            <result property="sellerGoodsSign" column="seller_goods_sign" />
            <result property="stockStatus" column="stock_status" />
            <result property="stockType" column="stock_type" />
            <result property="totalNum" column="total_num" />
            <result property="usableNum" column="usable_num" />
            <result property="ext1" column="ext1" />
            <result property="totalNumValue" column="total_num_value" />
            <result property="usableNumValue" column="usable_num_value" />
            <result property="erpGoodsId" column="erp_goods_id" />
            <result property="erpGoodsSkuId" column="erp_goods_sku_id" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="merchantId" column="merchant_id" />
            <result property="shopId" column="shop_id" />
            <result property="warehouseId" column="warehouse_id" />
            <result property="warehouseType" column="warehouse_type" />
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,goods_no,goods_name,owner_no,owner_name,warehouse_no,
        warehouse_name,seller_goods_sign,stock_status,stock_type,total_num,
        usable_num,ext1,total_num_value,usable_num_value,erp_goods_id,
        erp_goods_sku_id,create_by,create_time,update_by,update_time,
        merchant_id,shop_id,warehouse_id,warehouse_type,erp_goods_no,erp_goods_sign
    </sql>
    <select id="selectPageList" resultType="cn.qihangerp.model.entity.ErpWarehouseGoodsStock">
        SELECT sku.* FROM erp_warehouse_goods_stock sku

        LEFT JOIN erp_warehouse war on war.id = sku.warehouse_id
        WHERE 1=1
        <if test="warehouseType != null and warehouseType != ''">
            AND war.warehouse_type = #{warehouseType}
        </if>
        <if test="warehouseId != null ">
            AND sku.warehouse_id = #{warehouseId}
        </if>
        <if test="goodsNo != null and goodsNo != ''">
            AND sku.goods_no like concat('%', #{goodsNo}, '%')
        </if>
        <if test="sellerGoodsSign != null and sellerGoodsSign != ''">
            AND sku.seller_goods_sign like concat('%', #{sellerGoodsSign}, '%')
        </if>
        <if test="goodsName != null and goodsName != ''">
            AND sku.goods_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="merchantId != null">
            AND sku.merchant_id = #{merchantId}
        </if>

    </select>
    <select id="selectExportList" resultType="cn.qihangerp.model.vo.CloudWarehouseGoodsStockVo">
    SELECT gs.goods_id,wg.goods_name,gs.goods_no,gs.seller_goods_sign,gs.erp_goods_no,gs.total_num,gs.usable_num,gs.warehouse_name,wg.erp_goods_sku_id,sk.outer_erp_sku_id
    FROM erp_warehouse_goods_stock AS gs
    LEFT JOIN erp_warehouse_goods as wg on wg.id=gs.goods_id
    LEFT JOIN o_goods_sku as sk on sk.id=wg.erp_goods_sku_id
    WHERE 1=1
        <if test="warehouseId != null ">
            AND gs.warehouse_id = #{warehouseId}
        </if>
        <if test="merchantId != null">
            AND sku.merchant_id = #{merchantId}
        </if>


    </select>
</mapper>
