<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.mapper.ErpSupplierCustomerMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.ErpSupplierCustomer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="shopName" column="shop_name" jdbcType="VARCHAR"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="merchantName" column="merchant_name" jdbcType="VARCHAR"/>
            <result property="totalOrders" column="total_orders" jdbcType="INTEGER"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="firstOrderTime" column="first_order_time" jdbcType="TIMESTAMP"/>
            <result property="lastOrderTime" column="last_order_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,supplier_id,shop_id,shop_name,merchant_id,merchant_name,total_orders,total_amount,status,first_order_time,last_order_time,create_time,update_time
    </sql>
</mapper>
